{
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "globals": {
        "Promise": true
    },
    "rules": {
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/ban-ts-comment": "warn",
        "quotes": [
            "error",
            "double",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": false
            }
        ],
        "camelcase": "error",
        "comma-dangle": [2, "always-multiline"],
        "eqeqeq": "error",
        "no-else-return": "error",
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "no-eval": "error"
    }
}
