{
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "parser": "@babel/eslint-parser",
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "globals": {
        "Promise": true
    },
    "rules": {
        "quotes": [
            "error",
            "double",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": false
            }
        ],
        "comma-dangle": [2, "always-multiline"],
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
    }
}
