#
# Run integration tests.
#
name: Integration Test

on:
  workflow_call:
  workflow_dispatch:

jobs:
  run-tests:
    name: Run Integration Tests
    timeout-minutes: 30
    strategy:
      matrix:
        os:
          - "ubuntu-latest"
          - "windows-latest"
          - "macos-latest"
        node-version:
          - "18"
          - "24"
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install Node.js dependencies
        run: npm ci
      - name: Install Poppler (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y poppler-utils

      - name: Install Poppler (macOS)
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install poppler

      - name: Install Poppler (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          choco install poppler -y --no-progress

          $root = Join-Path $env:ChocolateyInstall 'lib\poppler\tools'
          $exe  = Get-ChildItem $root -Recurse -Filter pdfinfo.exe | Select-Object -First 1
          if (-not $exe) { throw "pdfinfo.exe not found under $root" }

          $bin = Split-Path $exe.FullName

          # Available immediately in this step:
          $env:PATH = "$bin;$env:PATH"

          # Available in later steps:
          $bin | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

          pdfinfo -v
      - name: Compilation
        run: npm run build

      - name: Test code
        env:
          MINDEE_API_KEY: ${{ secrets.MINDEE_API_KEY_SE_TESTS }}
          WORKFLOW_ID: ${{ secrets.WORKFLOW_ID_SE_TESTS }}
          MINDEE_V2_API_KEY: ${{ secrets.MINDEE_V2_SE_TESTS_API_KEY }}
          MINDEE_V2_FINDOC_MODEL_ID: ${{ secrets.MINDEE_V2_SE_TESTS_FINDOC_MODEL_ID }}
          MINDEE_V2_SE_TESTS_BLANK_PDF_URL: ${{ secrets.MINDEE_V2_SE_TESTS_BLANK_PDF_URL }}
        run: npm run test-integration
