name: Pull Request

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  static_analysis:
    uses: ./.github/workflows/_static-analysis.yml
  test_units:
    uses: ./.github/workflows/_test-units.yml
    needs: static_analysis
    secrets: inherit
  test_smoke:
    uses: ./.github/workflows/_test-smoke.yml
    needs: static_analysis
    secrets: inherit
  test_integrations:
    uses: ./.github/workflows/_test-integrations.yml
    needs: test_units
    secrets: inherit
