name: Test

on:
  - push

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - "14"
          - "16"
          - "18"

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Node.js dependencies
        run: |
          npm install npm@latest -g
          npm install

      - name: Compilation
        run: npm run build

      - name: Test code
        run: npm run test
